<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<div class="container">
  <div class="row">
    <h3>Pokemon</h3>
    <div class="column">
      <table class="table">
        <tbody>
        	<tr>
        		<th>Name</th>
        		<th>Level</th>
            <th>Health</th>
        	</tr>
          <% @trainer.pokemon.each do |pokemon| %>
          	<% if pokemon %>
              <% if @trainer.id == current_trainer.id%>
  	            <tr>
                  <%= render pokemon %>
                  <td>
                    <% if pokemon.health < 100 %>
                      <%= button_to "Heal", heal_path(id: pokemon.id), :class => "button medium", :method => :patch %>
                    <% end %>
                  </td>
  	            </tr>
              <% else %>
                <% if pokemon.health > 0 %>
                  <tr>
                    <td><%= pokemon.name %></td>
                    <td><%= pokemon.level %></td>
                    <td><%= pokemon.health %></td>
                    <td>
                    <% if pokemon.health > 0 %>

                    <%= simple_form_for :attack, url: damage_path(id: pokemon.id), :method => :patch do |f| %>
                    <%= f.label :attacker, "Attack With" %>
                    <%= f.select :attacker_id, current_trainer.pokemon.map { |pokemon| [pokemon.name, pokemon.id] } %>
                    <%= f.button :submit, "Attack Now!" %>
                    <% end %>
                    </td>
                    <% end %>
                </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% if @trainer.id == current_trainer.id %>
        <%= button_to "Create a Pokemon", makeform_path, :class => "button medium", :method => :get %>
      <% end %>
    </div>
  </div>
</div>
